*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Cover Image Upload Area */

.cover-upload-area {
    width: 100%;
    min-height: 260px;
    border: 2px dashed #dee2e6;
    border-radius: 12px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding: 35px 20px;
    transition: 0.3s ease;
}

.cover-upload-area:hover {
    border-color: #ffc107;
    background-color: #fff9e6;
}

.upload-icon {
    width: 65px;
    height: 65px;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.upload-icon i {
    font-size: 32px;
    color: #ffc107;
}